.seriesSelector {
    --background: #D7EACD;
    margin: 20px;
    border-radius: 6px;
    border: 3px solid #617E6D;
}

ion-selector::part(text) {
    --color: #617E6D;
}

ion-selector::part(label) {
    --color: #617E6D;
}

ion-range {
    padding: 0px 30px;
}

ion-range::part(bar-active) {
    background: #617E6D;
  }

  ion-range::part(tick-active) {
    background: #617E6D;
    height: 14px;
    width: 14px;
    top: 14px;
    border-radius: 50%;
  }

  ion-range::part(tick) {
    height: 14px;
    width: 14px;
    top: 14px;
    border-radius: 50%;
  }

  ion-range::part(knob) {
    background: #617E6D;
  }

  ion-range::part(label) {
    color: #617E6D;
    font-size: 1.4em;
    font-weight: bold;
  }

  ion-item {
    --background: #F0F6EB;
  }

  .thick {
    padding: 10px 30px;
    color:#617E6D !important;
    font-size: 1.1em !important;
    font-weight: bold;
  }

  ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #617E6D;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #617E6D;
  }

  .reset {
    --background: #ECB7B7;
    --color: #AB4848;
    font-weight: bold;
    font-size: small;
  }

  .submit {
    --background: #617E6D;
    --color: #D7EACD;
    font-weight: bold;
    font-size: small;
  }